###########################################################################
#                            TextMate Snippets                            #
###########################################################################

priority -50


snippet while "while(...)"
while ($1) {
	${VISUAL}$1
}
endsnippet

# vim:ft=snippets:
